<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CovidDash
        link(rel="stylesheet", href="/src/style.css")
        script(src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js')
        link(href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet')
        
    body
        section#section-map
            #map(data-coordinates = `${JSON.stringify(stateCoordinates)}`)
    
        script(src="/js/bundle.js")